ion-card, img {
    border-radius: 5%;
    border: #001c4e 0.5px solid;
}

ion-toolbar {
    --background: #001c4e;
}

ion-title {
    text-align: center; 
    color: #001c4e;
    font-size: 1.5em;
    display: block;
}

ion-grid {
    margin: auto; 
    display: block; 
    width: 90%;
    border: 1px solid;
    border-left: none;
    border-right: none;
}

.botaoCadastro {
    --background: #b1ff49;  //#001c4e;
    --color: #001c4e; //white;
    font-weight: bold;
    display: block;
    height: 48px;
    width: 95%;
    margin: auto;
    --border-radius: 50px;
    --background-activated: #001c4e;
    --color-activated: white;
    --background-hover: #001c4e;
    --color-hover: #001c4e;
    --box-shadow: 0 0 0 0; 
    outline: 0;
}
ion-item {
    border: 1px solid lightgray;
    border-radius: 50px;
    --highlight-height: 0px;
    /*--highlight-color-focused: var(--ion-color-primary, #001c4e);
    --highlight-color-valid: var(--ion-color-success, #2dd36f);
    --highlight-color-invalid: var(--ion-color-danger, #eb445a);*/
}

ion-icon {
    color: gray;
} 

h1 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0;
    font-weight: bold;
    color: #123b7d;
}