<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" size="x-small">
      <ion-back-button color="light" defaultHref="login-home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-title>Cadastro de Motorista</ion-title><br>
    <ion-grid>
      <ion-row>
        <ion-col>
        <form [formGroup]="onRegisterForm" style="padding: 10px;">

          <ion-item>
            <ion-input type="text" name="nome" placeholder="Nome"  id="inputNome" formControlName="name">
              <ion-icon name="person-outline" size="small" slot="start" item-start></ion-icon>&nbsp;
            </ion-input>
          </ion-item>
         <p ion-text class="text08" *ngIf="onRegisterForm.get('name').touched && onRegisterForm.get('name').hasError('required')">
            <ion-text color="danger">
              Campo obrigatório!
            </ion-text>
          </p>

          <p></p>

          <ion-item>
            <ion-input type="text" name="nome" placeholder="Sobrenome"  id="inputNome" formControlName="secondName">
              <ion-icon name="person-outline" size="small" slot="start" item-start></ion-icon>&nbsp;
            </ion-input>
          </ion-item>
          <p ion-text class="text08" *ngIf="onRegisterForm.get('secondName').touched && onRegisterForm.get('secondName').hasError('required')">
            <ion-text color="danger">
              Campo obrigatório!
            </ion-text>
          </p>

          <p></p>

          <ion-item> 
            <ion-input type="tel" name="telefone" placeholder="Celular com (DDD)"  id="inputTelefone" [brmasker]="{phone: true}" formControlName="phone">
              <ion-icon name="phone-portrait-outline" size="small" slot="start"></ion-icon>&nbsp;
            </ion-input>
          </ion-item>
          <p ion-text class="text08" *ngIf="onRegisterForm.get('phone').touched && onRegisterForm.get('phone').hasError('required')">
            <ion-text color="danger">
              Campo obrigatório!
            </ion-text>
          </p>
          
          <div class= "texto-email">
            <br>
            <small *ngIf = "onRegisterForm.get('phone').errors?.userNameTaken" class= "text-danger" >Phone Existente !</small>
            <small *ngIf = "onRegisterForm.get('phone').valid" class= "text-success" >Phone Válido !</small>
          </div>

          <p></p>

          <ion-item>
            <ion-input type="text" name="email" placeholder="E-mail"  id="inputEmail" formControlName="email">
              <ion-icon name="mail-outline" size="small" slot="start"></ion-icon>&nbsp;
            </ion-input>
          </ion-item>
          
          <div class= "texto-email">
            <small *ngIf = "onRegisterForm.get('email').errors?.emailTaken" class= "text-danger" >Email Existente !</small>
            <small *ngIf = "onRegisterForm.get('email').valid" class= "text-success" >Email Válido !</small>
          </div>
          <p ion-text class="text08" *ngIf="onRegisterForm.get('email').touched && onRegisterForm.get('email').hasError('required')">
            <ion-text color="danger">
              Campo obrigatório!
            </ion-text>
          </p>

          <p></p>

          <ion-item>
            <ion-input [type]="tipo ? 'text' : 'password'" name="senha" placeholder="Senha"  id="senha" formControlName="password">
              <ion-icon name="lock-closed-outline" size="small" slot="start"></ion-icon>&nbsp;
            </ion-input>
            <ion-icon [name]="tipo ? 'eye-outline' : 'eye-off-outline'" slot="end" size="small" (click)="mostrarSenha()" style="padding-top: 5px;"></ion-icon>
          </ion-item>
          <p ion-text class="text08" *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">
            <ion-text color="danger">
              Campo obrigatório! Mínimo 6 caracteres máximo 14
            </ion-text>
          </p>

          <p></p>

          <ion-item>
            <ion-input type="text" name="cidade" placeholder="Cidade" id="cidade" formControlName="cidade">
              <ion-icon name="business-outline" size="small" slot="start"></ion-icon>&nbsp;
            </ion-input>
          </ion-item>
          <p ion-text class="text08" *ngIf="onRegisterForm.get('cidade').touched && onRegisterForm.get('cidade').hasError('required')">
            <ion-text color="danger">
              Campo obrigatório!
            </ion-text>
          </p>

          <p></p>

          <ion-button class="botaoCadastro" (click)="signup()">
            <ion-icon name="checkmark-outline" slot="end" style="color: #001c4e;"></ion-icon>Cadastrar
          </ion-button>
    </form>
  </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>