<ion-header>
  <ion-toolbar>
    <!--<ion-buttons slot="start" size="x-small">
      <ion-back-button color="light" defaultHref="login-adm" text=""></ion-back-button>
    </ion-buttons>-->
    <ion-buttons slot="end" size="x-small">
      <ion-button color="light" (click) = "logout();" tappable>SAIR&nbsp;<ion-icon name="log-out-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-title>Olá, <b>{{nome}}</b></ion-title><br>
  <br>
  <ion-grid>
    <ion-row class="ex">
      <b>Acesso Motorista</b>
      <br>
      <ion-row>
        <ion-col class="gridCol1" (click)="listaMotoristas()" tappable>LIBERAÇÃO<br><ion-icon name="lock-open-outline"></ion-icon></ion-col>
        <ion-col class="gridCol1" (click)="motorista()" tappable>MOTORISTAS<br><ion-icon name="people-outline"></ion-icon></ion-col>
        <!--<ion-col class="gridCol1" (click)="cadastro()" tappable>CADASTRO<br><ion-icon name="clipboard-outline"></ion-icon></ion-col>-->
        <ion-col class="gridCol1" (click)="bloqueados()" tappable>BLOQUEADO<br><ion-icon name="lock-closed-outline"></ion-icon></ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>
  <br>

  <ion-grid>
    <ion-row class="ex">
      <b>Acesso Cliente</b>
        <br>
        <ion-row>
          <ion-col class="gridCol1 col-md-12" (click)="bloqueioCliente()" tappable>BLOQUEIO<br><ion-icon name="lock-closed-outline"></ion-icon></ion-col>
         <!-- <ion-col class="gridCol1 col-md-12" (click)="editarCliente()" tappable>EDITAR<br><ion-icon name="create-outline"></ion-icon></ion-col>-->
        </ion-row>
    </ion-row>
  </ion-grid>
  <br>
  <ng-container *ngIf="adm === 'ADM' || adm === 'TRUE'">
  <ion-grid>
    <ion-row class="ex">
      <b>Viagens</b>
      <br>
      <ion-row>
        <ion-col class="gridCol1 col-md-12" (click)="viagens()"><u>ABERTAS</u><br><ion-icon name="speedometer-outline"></ion-icon></ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>
  <br>

  
    <ion-grid fixed="true" mode="md">
      <br>
        <ion-row>
          <ion-col class="gridCol2 col-md-12" (click)="carteira()" tappable><u>CARTEIRA</u><br><ion-icon name="wallet-outline"></ion-icon></ion-col>
          <ion-col class="gridCol2 col-md-12" (click)="cobranca()" tappable><u>COBRANÇA</u><br><ion-icon name="bag-check-outline"></ion-icon></ion-col>
          <ion-col class="gridCol2 col-md-12" (click)="corridas()" tappable><u>CORRIDAS</u><br><ion-icon name="car-outline"></ion-icon></ion-col>
          <ion-col class="gridCol2 col-md-12" style="opacity: 0.5;"><u>BANCO</u><br><ion-icon name="layers-outline"></ion-icon></ion-col>
          <ion-col class="gridCol2 col-md-12" style="opacity: 0.5;" ><u>GERAR BOLETO</u><br><ion-icon name="reader-outline"></ion-icon></ion-col>
        </ion-row>
    </ion-grid>
  </ng-container>
  
  <br>
</ion-content>