ion-card, img {
    border-radius: 5%;
    border: #001c4e 0.5px solid;
}

ion-toolbar {
    --background: #001c4e;
}

ion-card-title, ion-card-subtitle, ion-card-content {
    text-align: center;
}

/*ion-content {
    //--background: url(../../assets/img/bg.jpg);
    //--background-size:var(--background-size);
    --background: aliceblue;
}*/

ion-grid {
    margin: auto; 
    display: block; 
    width: 90%;
    border: 1px solid;
    border-left: none;
    border-right: none;
}

ion-title {
    text-align: center; 
    color: #001c4e;
    font-size: 1.7em;
    display: block;
}

u {
    text-decoration: overline;
}

.ex {
   // border: 1px solid; 
    text-align: center;
    margin: auto; 
    display: block;
    padding: 20px; 
    font-size: 1.5em;
    //border-left: none;
    //border-right: none;
}

.gridCol1 {
    text-align: center;
    padding: 45px;
    padding-bottom: 5px;
    font-size: .9em;
    text-decoration: underline;
    //border-left: none;
    //border-right: none;
}

.gridCol2 {
    //border: 1px solid; 
    text-align: center; 
    padding: 43px; 
    font-size: 1.5em;
    text-decoration: underline;
    //font-weight: bold;
   // border-left: none;
    //border-right: none;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: bold;
    color: #123b7d;
    }

    
body {
    background: url(../../assets/img/bg.jpg);
    background-size: cover;
}