<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" size="x-small">
      <ion-back-button color="light" defaultHref="login-home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-title>Editar Perfil</ion-title><br>
  <form style="padding-left: 25px; padding-right: 25px;">
    <ion-item>
      <ion-label position="stacked">Nome Completo</ion-label>
      <ion-input [(ngModel)]="nomeNovo" placeholder="{{nome}}" name = "nomeNovo" type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Apelido</ion-label>
      <ion-input [(ngModel)]="apelidoNovo" placeholder="{{apelido}}" name = "apelidoNovo" type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Telefone</ion-label>
      <ion-input [(ngModel)]="phoneNovo" placeholder="{{phone}}" name = "phoneNovo" type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input [(ngModel)]="emailNovo" placeholder="{{email}}" name = "emailNovo" type="text"></ion-input>
    </ion-item>
    
    <!--<ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input name = "senhaNovo" placeholder="********" type="password"></ion-input>
    </ion-item>-->

    <ion-item>
      <ion-label position="stacked">Cidade</ion-label>
      <ion-input [(ngModel)]="cidadeNovo" placeholder="{{cidade}}"  name = "cidadeNovo" type="text"></ion-input>
    </ion-item><br>

   <!-- <ion-grid>
      <ion-col class="col-md-12"><img src="{{url_foto}}"/></ion-col>&nbsp;
    </ion-grid>

    <ion-grid>
      <ion-col class="col-md-12">
        <ion-label>Foto perfil : </ion-label>&nbsp;&nbsp;
        <input type="file" (change)= "file = $event.target.files[0]" accept="image/*">
      </ion-col>&nbsp;
    </ion-grid>-->
  </form><br>

  <ion-button class="botao" tappable>
    Salvar Alterações
    <ion-icon name="checkmark-outline" style="color: #001c4e;"></ion-icon>
  </ion-button>
<br>
</ion-content>