<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" size="x-small">
      <ion-back-button color="light" defaultHref="login-home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-grid style="border: none;">
    <ion-item-divider mode="md">Viagens Abertas</ion-item-divider>
    <ion-list *ngFor= "let viagem of viagem">
      <ion-item (click)="corridaAberta(viagem.id_viagem)">
        <ion-label> Corrida Aberta : {{viagem.status}}
            <p style="line-height: 14px; font-size: small;">Motorista: {{viagem.id_motorista}}</p>
            <p style="line-height: 14px; font-size: small;">Passageiro: {{viagem.user_full_name}}</p>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" size="small" style="color: gray;"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-grid>
  
</ion-content>
