<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" size="x-small">
      <ion-back-button color="light" defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Faça Download do seu APP!</h1>

  <br>
  <button class="botaoDownload" tappable>Clique para baixar</button>
</ion-content>
