ion-card, img {
    border-radius: 5%;
    border: #001c4e 0.5px solid;
}

ion-toolbar {
    --background: #001c4e;
}

ion-title {
    color: #fff;
}

ion-card-title, ion-card-subtitle, ion-card-content {
    text-align: center;
}

ion-button {
    --background: #001c4e;
}

ion-label {
    text-transform: none;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: bold;
    color: #123b7d;
    }


.botaoDownload {
    background: #001c4e;
    border-radius: 7px;
    outline: none;
    box-shadow: 0 0 0 0;
    color: white;
    font-size: large;
    height: 55px;
    width: 190px;
    text-align: center;
    margin: auto;
    display: block;
}

.baixar {
    margin: 10px;
}
