<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon name="close-outline" style="color: white;" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="col-md-12">
        <ion-item>
          <ion-label><h1>{{nome}}</h1></ion-label>&nbsp;&nbsp;&nbsp;
          <img src="{{url_foto}}"/>
        </ion-item>
      </ion-col>
    </ion-row>
    <br>

    <ion-row>
      <ion-col class="col-md-12">
        <ion-item>
          <ion-label position="stacked">Corridas dos últimos 7 dias</ion-label>
          <ion-input placeholder="--" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
   
    <ion-row>
      <ion-col class="col-md-12">
        <ion-item>
          <ion-label position="stacked">Total a pagar</ion-label>
          <ion-input placeholder="R$ {{totalUai}}" readonly></ion-input>
          <ion-button slot="end" class="quitarButton"  (click)="quitar()">Quitar</ion-button> <!--(click)="toggle()"-->
        </ion-item>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col class="col-md-12">
        <ion-item>
          <ion-label position="stacked">Total arrecadado</ion-label>
          <ion-input placeholder="R$ {{totalArrecadado}}" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row><br>

    <!--<ion-row id="inputValor" name="inputValor" style="display: none;">
      <ion-col class="col-md-12">
        <ion-item>
          <ion-label position="stacked">Quitar valor do motorista</ion-label>
          <ion-input placeholder="Qual o valor?" type="tel"></ion-input>
          <ion-button class="quitarButton" (click)="salvar()" slot="end">salvar</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>-->
  </ion-grid>

</ion-content>