<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" size="x-small">
      <ion-back-button color="light" defaultHref="cadastro" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-title>Etapas Obrigatórias</ion-title>
  <div style="text-align: center;">
    <p class="usuario">Olá, {{nome}}</p>
    <p class="comecar">Veja aqui o que você precisa fazer para criar sua conta.</p>
  </div>

  <ion-list>
    <ion-item no-padding (click)="toAcordos()">
      <ion-icon name="reader-outline" slot="start"></ion-icon>
      <ion-label>
        Acordos Legais<br>
        <p>Próxima etapa recomendada</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" size="small" style="color: #001c4e;"></ion-icon>
    </ion-item>

    <ion-item no-padding (click)="toFotoPerfil()">
      <ion-icon name="reader-outline" slot="start"></ion-icon>
      <ion-label>
        Foto de Perfil<br>
        <p>Tudo pronto para começar</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" size="small" style="color: #001c4e;"></ion-icon>
    </ion-item>

    <ion-item no-padding (click)="toCNH()">
      <ion-icon name="reader-outline" slot="start"></ion-icon>
      <ion-label>
        Carteira Nacional de Habilitação com EAR - CNH <br>
        <p>Tudo pronto para começar</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" size="small" style="color: #001c4e;"></ion-icon>
    </ion-item>

    <ion-item no-padding (click)="toCRLV()">
      <ion-icon name="reader-outline" slot="start"></ion-icon>
      <ion-label>
        Certificado de Registro e Licenciamento de Veículo - CRLV<br>
        <p>Tudo pronto para começar</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" size="small" style="color: #001c4e;"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-button class="botao" (click)="login()">
    <ion-icon name="checkmark-outline" slot="end" style="color: #001c4e;"></ion-icon>Etapas Concluídas
  </ion-button>
</ion-content>
