ion-content {
    --background: var(--ion-color-light);
    //--background: url("/assets/img/bg-uai-leva2.png") #eaeaea no-repeat bottom 75px left 45px;
}

ion-toolbar {
    --background: #001c4e !important;
}

ion-header {
    --background: #001c4e !important;
}

ion-list {
    background: transparent;
    padding: 10px;
    width: 95%;
    display: block;
    margin: auto;
}

ion-label {
    color: #001c4e;
}

ion-title {
    text-align: center; 
    color: #001c4e;
    font-size: 1.5em;
    display: block;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0;
    font-weight: bold;
    color: #123b7d;
}

.usuario {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 0px;
    color: #123b7d;
}

.comecar {
    padding: 10px;
    padding-top: 0px;
    color: #123b7d;
    margin-top: -20px;
}

.botao {
    --background: #b1ff49;  //#001c4e;
    --color: #001c4e; //white;
    font-weight: bold;
    display: block;
    height: 48px;
    width: 95%;
    margin: auto;
    --border-radius: 50px;
    --background-activated: #001c4e;
    --color-activated: white;
    --background-hover: #001c4e;
    --color-hover: white;
    --box-shadow: 0 0 0 0; 
    outline: 0;
}