<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" size="x-small">
      <ion-back-button color="light" defaultHref="lista-motoristas" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-button style="width: 25%;"(click)="foto()" class="botao"><ion-icon name="checkmark-outline" slot="end" style="color: #001c4e;"></ion-icon>add Fotos
  </ion-button><br>


  <div style="padding-left: 25px; padding-right: 25px;">
  <ion-grid>
    <ion-col class="col-md-12"><img src="{{url_foto}}"/></ion-col>&nbsp;
    <ion-col class="col-md-12"><img src="{{url_cnh}}"/></ion-col>&nbsp;
    <ion-col class="col-md-12"><img src="{{url_crlv}}"/></ion-col>
  </ion-grid>

  <br>

    <ion-grid>
      <form>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Nome Completo</ion-label>
              <ion-input [(ngModel)]="nomeCompleto" name = "nomeCompleto" placeholder="{{nome}}"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Telefone</ion-label>
              <ion-input readonly placeholder="{{phone}}"></ion-input>
            </ion-item>
          </ion-col>
          
          <ion-col>
            <ion-item>
              <ion-label position="stacked">E-mail</ion-label>
              <ion-input readonly placeholder="{{email}}"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Veículo</ion-label>
              <ion-input readonly></ion-input>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-label position="stacked">Placa</ion-label>
              <ion-input [(ngModel)]="placa" name="placa"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-label position="stacked">Modelo</ion-label>
              <ion-input [(ngModel)]="modelo" name = "modelo"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </form>

      <br> 

      <ion-button (click)="salvar(motorista_id)" class="botao">
        <ion-icon name="checkmark-outline" slot="end" style="color: #001c4e;"></ion-icon>Liberar
      </ion-button>

      <br>
    </ion-grid>
  </div>
  <br>
</ion-content>


