img {
    border-radius: 5%;
    //border: #001c4e 0.5px solid;
    max-width: 85%;  
}
ion-item {
    --highlight-height: 1px;
    outline: none !important;
}

ion-toolbar {
    --background: #001c4e;
}

ion-title {
    text-align: center; 
    color: #001c4e;
    font-size: 1.5em;
    display: block;
}

ion-card {
    width: fit-content;
}
ion-card-title, ion-card-subtitle, ion-card-content {
    text-align: center;
    box-shadow: none;
}

ion-grid {
    display: inline-block;
    margin: auto;
    text-align: center;
    width: 100%;
    border: 1px solid;
    border-left: none;
    border-right: none;
}

ion-col {
    padding: 0px;
}

ion-label {
    font-weight: bold;
    --highlight-color-focused: var(--ion-color-primary, #001c4e);
}


img {
    width: fit-content;
 }

.botao {
    --background: #b1ff49;  //#001c4e;
    --color: #001c4e; //white;
    font-weight: bold;
    display: block;
    height: 48px;
    width: 45%;
    margin: auto;
    text-transform: uppercase;
    --border-radius: 50px;
    --background-activated: #001c4e;
    --color-activated: white;
    --background-hover: #001c4e;
    --color-hover: white;
   --box-shadow: 0 0 0 0;
    outline: none !important;
}