<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon name="close-outline" style="color: white;" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-button href="https://wa.me/55359?text=Hello%20World" slot="end"> <!--Número do whats precisa ter o formato internacional 55359XXXXXXXX-->
      <ion-icon name="logo-whatsapp" style="color: rgba(0, 255, 0, 0.802); font-size: 40px;"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-grid>
    <ion-item>
      <ion-label><b>Corrida:</b> {{status}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label> <b>Motorista:</b> {{motorista}}
                  <p>Telefone: {{mottel}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label> <b>Passageiro:</b> {{nome}}
                  <p>Telefone: {{usertel}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label><b>Valor da corrida:</b> R$ {{valor}} </ion-label>
    </ion-item>

    <ion-item>
      <ion-label><b>Origem:</b> {{origem}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label><b>Destino:</b> {{destino}}</ion-label>
    </ion-item>

    <ion-item mode="md">
    <ion-button class="btn-cancelar" (click) = "cancelar(id_viagem);" slot="end">CANCELAR</ion-button>
    <ion-button class="btn-finalizar" (click) = "finalizar(id_viagem);" slot="end">FINALIZAR</ion-button>
  </ion-item>
  </ion-grid>
  
</ion-content>