ion-card, img {
    border-radius: 5%;
    border: #001c4e 0.5px solid;
    width: 25%;
}

ion-toolbar {
    --background: #001c4e;
}

ion-title {
    color: #fff;
}

 
ion-item {
    //--color: black;
    //deixar menu sem linhas
    --ion-item-background: transparent;
    --border-style: var(--border-style);
    --border: 0 none; 
   box-shadow: 0 0 0 0; 
    outline: 0;
}

ion-button{
    --border-style: var(--border-style);
    --border: 0 none; 
    --box-shadow: 0 0 0 0 !important; 
    outline: 0;
    height: 45px;
    --background: transparent;
    --ion-item-background: transparent;
    --background-activated: white;
    --color-activated: lime;
    --background-hover: white;
    --color-hover: lime;
}

.btn-cancelar{
    --background:red;
    color: #fff;
    font-weight: bold; 
    border-radius: 30px;
    height: 35px;
}

.btn-finalizar {
    --background:#b1ff49;
    color: #001c4e;
    font-weight: bold; 
    border-radius: 30px;
    height: 35px;
}
