<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="etapas" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Consentimento legal</h1>

  <div>
    <p class="declaracao">Declaração de checagem de antecedentes</p>
    <p class="termo">
     Ao clicar na caixa de seleção abaixo e enviar o formulário de registro,
    eu concordo com a coleta e o processamento, por parte do UaiLeva e seus prestadores
    de serviços, dos meus dados pessoais, incluindo dados sensíveis, com o objetivo de
    avaliar a minha elegibilidade ao uso ou continuidade de uso, da plataforma, bem como 
    para as finalidades descritas na Declaração de Privacidade do Motorista Parceiro do UaiLeva.
    Declaro a veracidade e a precisão das informações e dos documentos enviados ao UaiLeva para
    fins de registro.</p>
  </div>

  <ion-item>
    <ion-checkbox item-start (ionChange)="enableBtn($event)"></ion-checkbox>&nbsp;
    <ion-label>Estou ciente e aceito</ion-label>
  </ion-item><br>


  <ion-button [disabled]="checkedButton" (click)="acordo();" class="botao">Aceito</ion-button>
</ion-content>
