<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" size="x-small">
      <ion-back-button color="light" defaultHref="login-home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-grid>
    <ion-list>
      <ion-item-divider mode="md"><ion-label>Motoristas Bloqueados</ion-label></ion-item-divider>
      <ion-item *ngFor= "let m of m">
        <ion-label>{{m.full_name}}</ion-label>
        <ion-button class="btn-bloquear" slot="end" (click) = "desbloquear(m.email,m.phone)">Desbloquear</ion-button>
      </ion-item>
    </ion-list>
  </ion-grid>
  <br>
</ion-content>
