ion-toolbar {
    --background: #001c4e;
}

ion-grid {
    margin: auto; 
    display: block; 
    width: 95%;
    border: 1px solid;
    border-left: none;
    border-right: none;
}

ion-button {
    --background: #b1ff49;
    color: #001c4e;
    font-weight: bold; 
    border-radius: 50px;
}