ion-card, img {
    border-radius: 5%;
    border: #001c4e 0.5px solid;
}

ion-toolbar {
    --background: #001c4e;
}

ion-title {
    text-align: center; 
    color: #001c4e;
    font-size: 1em;
    display: block;
}