ion-card, img {
    border-radius: 5%;
    border: #001c4e 0.5px solid;
}

ion-icon {
    color: gray;
}

ion-toolbar {
    --background: #001c4e;
} 

ion-grid {
    margin: auto; 
    display: block; 
    width: 90%;
    border: 1px solid;
    border-left: none;
    border-right: none;
}

ion-title {
    text-align: center; 
    color: #001c4e;
    font-size: 1.5em;
    display: block;
}

ion-item{
    --highlight-height: 1px;
    --ion-item-background: transparent;
    --border-style: var(--border-style);
    --border: 0 none; 
    --box-shadow: 0 0 0 0; 
    --outline: 0;
}

ion-label {
    border-left: 1px solid gray; 
    padding-left: 10px;
}

.botaoC {
    --background: #b1ff49;  //#001c4e;
    --color: #001c4e; //white;
    font-weight: bold;
    display: block;
    height: 40px;
    width: 85%;
    margin: auto;
    --border-radius: 50px;
    --background-activated: #001c4e;
    --color-activated: #001c4e;
    --background-hover: #b1ff49;
    --color-hover:  #001c4e;
    --box-shadow: 0 0 0 0; 
    outline: 0;
  }