<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" size="x-small">
      <ion-back-button color="light" defaultHref="login-home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-title>Carteira</ion-title><br>
  <ion-grid>
    <ion-row>
      <ion-col style="border-right: 1px solid; border-bottom: 1px solid;">Total Arrecadado</ion-col>
      <ion-col style="text-align: center; border-bottom: 1px solid;">R$ {{valortotal}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="border-right: 1px solid;">Quantidade de Corridas</ion-col>
      <ion-col style="text-align: center;">{{total}}</ion-col>
    </ion-row>
  </ion-grid>

  <br>

  <ion-grid style="border: none;">
   <!--<ion-item>
      <ion-label position="stacked">Carteira do Motorista</ion-label>
      <ion-input placeholder="Pesquise pelo telefone" [(ngModel)]="telefone" type="tel" [brmasker]="{phone: true}" ></ion-input>
    </ion-item>
    <br>-->

    
    <ion-item-divider mode="md">Selecione o motorista para abrir a carteira</ion-item-divider>
    <ion-searchbar [(ngModel)]="filterItem" mode="ios" placeholder="Procure pelo nome ou telefone"></ion-searchbar>
    <ion-list *ngIf="filterItem">
      <ion-item *ngFor="let m of m | filter: filterItem" (click)="carteiraMotorista(m.id)">
        <ion-label>{{m.phone}}
          <p>{{m.full_name}}</p>
        </ion-label>
        <ion-icon name="chevron-forward-outline" size="small" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    <br>
    <!--<ion-button (click)="carteiraMotorista(tel)" class="botaoC">Abrir carteira</ion-button>-->
  </ion-grid>
</ion-content>