<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" size="x-small">
      <ion-back-button color="light" defaultHref="login-home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-grid>
    <ion-list>
      <ion-row>
        <ion-col class="colums" size="3">Nome do Motorista</ion-col>
        <ion-col class="colums" size="2">Corridas</ion-col>
        <ion-col class="colums" size="2">Total Recebido (R$)</ion-col>
        <ion-col class="colums" size="3">Total a Pagar (R$)</ion-col>
        <ion-col style="border-right: none;" class="colums" size="2">Cobrar</ion-col>
      </ion-row>
      <ion-row *ngFor= "let m of m">
        <ion-col class="data" size="3">{{m.full_name}}</ion-col>
        <ion-col class="datas" size="2">99999</ion-col>
        <ion-col class="datas" size="2">99999,99</ion-col>
        <ion-col class="datas" size="3">99999,99</ion-col>
        <ion-col style="border-right: none;" class="datas" size="2"><ion-button><ion-icon name="checkmark-circle-outline" style="color: #001c4e;"></ion-icon></ion-button></ion-col>
      </ion-row>
    </ion-list>
  </ion-grid>
  <br>
</ion-content>