ion-toolbar {
    --background: #001c4e;
}

ion-grid {
    margin: auto; 
    display: block; 
    width: 95%;
    border: 1px solid;
    border-left: none;
    border-right: none;
}

ion-button {
    --background: #b1ff49;
    color: #001c4e;
    font-weight: bold; 
    border-radius: 50px;
    //height: 20px;
    align-self: flex-end;
    width: fit-content;
   // display: block;
   // margin: auto;
}

.colums {
    border-right: 1px solid gray; 
    border-bottom: 1px solid gray; 
    text-align: center; 
    font-size: small; 
    font-weight: bold;
}

.data {
    border-right: 1px solid gray; 
    border-bottom: 1px solid gray;
    font-size: 13.5px;
}

.datas {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray; 
    text-align: center;
}