<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" size="x-small">
      <ion-back-button color="light" defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/grupo2.jpg" style="border-radius: 0%;"/>
    <ion-card-header>
      <ion-card-subtitle>2020</ion-card-subtitle>
      <ion-card-title>UaiLeva</ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: center; justify-content: center;">
      Somos a mais nova cooperativa de Motoristas de Extrema - MG. 
      <br>Estamos aqui para melhor lhe atender na sua viagem, com conforto e alegria! 
      <br>Estamos chegando em Extrema com o mais moderno aplicativo de mobilidade. 
      <br>Aqui está nossa tropa. Queremos te ver sempre! Seja bem vindo ao UaiLeva.
    </ion-card-content>
  </ion-card>

  <br>
  <h1>Nossos Motoristas:</h1>

  <ion-grid fixed="true" mode="md">  
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista1.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col> 
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista2.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col> 
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista3.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista4.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista5.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista6.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista7.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col> 
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista8.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col> 
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista9.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista10.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista12.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista16.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista17.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista18.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista19.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      
      <ion-col> 
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista15.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col> 
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista20.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      
      <ion-col> 
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista21.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      

      <ion-col>
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista22.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista23.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <img src="assets/img/motorista24.jpg"/>
            <ion-card-subtitle>Desde 2020</ion-card-subtitle>
            <ion-card-title>Motorista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
