ion-card, img {
    border-radius: 5%;
    border: #001c4e 0.5px solid;
}

ion-toolbar {
    --background: #001c4e;
}

ion-title {
    color: #fff;
}

ion-card-title, ion-card-subtitle, ion-card-content {
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: bold;
    color: #123b7d;
    }
