<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon name="close-outline" style="color: white;" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="col-md-12">
        <ion-item>
          <ion-label position="stacked">Quitar valor do motorista</ion-label>
          <ion-input placeholder="Qual o valor?" type="tel"></ion-input>
        </ion-item><br>
        <ion-button class="quitarButton">salvar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
