ion-card, img {
    border-radius: 5%;
    border: #001c4e 0.5px solid;
    width: 25%;
}

ion-toolbar {
    --background: #001c4e;
}

ion-title {
    color: #fff;
}

 
ion-item {
    //--color: black;
    //deixar menu sem linhas
    --ion-item-background: transparent;
    --border-style: var(--border-style);
    --border: 0 none; 
   box-shadow: 0 0 0 0; 
    outline: 0;
}

.quitarButton {
    --background:#b1ff49;
    color: #001c4e;
    font-weight: bold; 
    border-radius: 50px;
    width: 35%;
    height: 30px;
    margin-top: 23px;
    display: block;
    margin: auto;
}
