<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="etapas" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Tire uma foto do(a) Carteira Nacional de Habilitação com EAR - CNH</h1>
  <br>
  <div>
    <p class="termo">
      Lembre-se, é preciso que o documento: 1. Seja como na imagem abaixo. 2. Esteja aberto.
      3. Tenha todos os campos visíveis. 4. Tenha a observação "Exerce Atividade Remunerada"
      (EAR). Caso não tenha, consulte o Detran local e resolva no mesmo dia. Obs: A Permissão
      para Dirigir não é válida
    </p>
  </div>

  <img src="/assets/img/exemplo-cnh.png"><br>

  <br><br>
  <input type="file" (change)= "file = $event.target.files[0]" accept="image/*"><br>
  <ion-button class="botao" (click)= "salvarFoto();">Enviar foto</ion-button>
</ion-content>