img {
    border-radius: 5%;
    //border: #001c4e 0.5px solid;
    max-width: 85%;
    
}

ion-toolbar {
    --background: #001c4e;
} 

ion-grid {
    display: inline-block;
    margin: auto;
    text-align: center;
    width: 100%;
    border: 1px solid;
    border-left: none;
    border-right: none;
}

ion-title {
    text-align: center; 
    color: #001c4e;
    font-size: 1.5em;
    display: block;
}


ion-item{
    --highlight-height: 1px;
}