<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" size="x-small">
      <ion-back-button color="light" defaultHref="bloqueio" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-title>Editar Perfil</ion-title><br>
  <form style="padding-left: 25px; padding-right: 25px;">
    <ion-item>
      <ion-label position="stacked">Nome Completo</ion-label>
      <ion-input [(ngModel)]="nomeNovo" placeholder="{{nome}}" name = "nomeNovo" type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Apelido</ion-label>
      <ion-input [(ngModel)]="apelidoNovo" placeholder="{{apelido}}" name = "apelidoNovo" type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Telefone</ion-label>
      <ion-input [(ngModel)]="phoneNovo" placeholder="{{phone}}" name = "phoneNovo" type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input [(ngModel)]="emailNovo" placeholder="{{email}}" name = "emailNovo" type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input [(ngModel)]="senhaNovo" name = "senhaNovo" placeholder="********" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cidade</ion-label>
      <ion-input [(ngModel)]="cidadeNovo" placeholder="{{cidade}}"  name = "cidadeNovo" type="text"></ion-input>
    </ion-item>

    <br>
    <ion-label position="stacked" style="padding-left: 18px; font-size: small; font-weight: bold;">Veículo</ion-label>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Placa</ion-label>
          <ion-input  [(ngModel)]="placaNovo" placeholder="{{placa}}"  name="placaNovo"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label position="stacked">Modelo</ion-label>
          <ion-input [(ngModel)]="modeloNovo" placeholder="{{modelo}}"  name = "modeloNovo"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-grid>
      <ion-col class="col-md-12"><img src="{{url_foto}}"/></ion-col>&nbsp;
      <ion-col class="col-md-12"><img src="{{url_cnh}}"/></ion-col>&nbsp;
      <ion-col class="col-md-12"><img src="{{url_crlv}}"/></ion-col>
    </ion-grid>

    <ion-grid>
      <ion-col class="col-md-12">
        <ion-label>Foto perfil : </ion-label>&nbsp;&nbsp;
        <input type="file" (change)= "file = $event.target.files[0]" accept="image/*">
      </ion-col>&nbsp;
      <ion-col class="col-md-12">
        <ion-label>Foto CNH : </ion-label>&nbsp;&nbsp;
        <input type="file" (change)= "fileCNH = $event.target.files[0]" accept="image/*">
      </ion-col>&nbsp;
      <ion-col class="col-md-12">
        <ion-label>Foto CRLV : </ion-label>&nbsp;&nbsp;
        <input type="file" (change)= "fileCRLV = $event.target.files[0]" accept="image/*">
      </ion-col>
    </ion-grid>
  </form><br>

  <ion-button (click) = "salvar();" class="botao" tappable>
    Salvar Alterações
    <ion-icon name="checkmark-outline" style="color: #001c4e;"></ion-icon>
  </ion-button>
<br>
</ion-content>