<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" size="x-small">
      <ion-back-button color="light" defaultHref="login-home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-title>Bloqueio de Cliente</ion-title><br>
  <ion-grid>
    <form>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Telefone</ion-label>
            <ion-input  [(ngModel)]="phone" name = "phone" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>

    <br>

    <ion-button (click)="bloquear();" class="botao">
      <ion-icon name="checkmark-outline"  slot="end" style="color: #001c4e;"></ion-icon>Bloquear
    </ion-button>
    
    <br>

  </ion-grid>
</ion-content>
