<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" size="x-small">
      <ion-back-button color="light" defaultHref="login-home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-title>Bloqueio de Motoristas</ion-title><br>
  <ion-grid>
    <ion-list>
      <ion-item-divider mode="md"><ion-label>Motoristas liberados</ion-label></ion-item-divider>
      <ion-item *ngFor= "let m of m">
        <ion-label>{{m.full_name}}</ion-label>
        <ion-button class="btn-bloquear" slot="end" (click) = "bloqueio(m.id)">BLOQUEAR</ion-button>
        <ion-button class="editarButton" slot="end" (click)="editarMotorista(m.id)">EDITAR</ion-button>
      </ion-item>
    </ion-list>
    <br>
  </ion-grid>
</ion-content>
