ion-card, img {
    border-radius: 5%;
    border: #001c4e 0.5px solid;
}

ion-toolbar {
    --background: #001c4e;
}


ion-grid {
    margin: auto; 
    display: block; 
    width: 95%;
    border: 1px solid;
    border-left: none;
    border-right: none;
    padding: 0px;
}


ion-input {
    --highlight-color-focused: var(--ion-color-primary, #001c4e);
    --highlight-color-valid: var(--ion-color-success, #2dd36f);
    --highlight-color-invalid: var(--ion-color-danger, #eb445a);
    --item-highlight: var(--ion-color-primary, #001c4e);
}

ion-title {
    text-align: center; 
    color: #001c4e;
    font-size: 1.5em;
    display: block;
}

.botao {
    --background: #b1ff49;  //#001c4e;
    --color: #001c4e; //white;
    font-weight: bold;
    display: block;
    height: 48px;
    width: 45%;
    margin: auto;
    text-transform: uppercase;
    --border-radius: 50px;
    --background-activated: #001c4e;
    --color-activated: white;
    --background-hover: #001c4e;
    --color-hover: white;
   --box-shadow: 0 0 0 0;
    outline: none !important;
}



ion-button {
    --background:red;
    color: #fff;
    font-weight: bold; 
    border-radius: 50px;
}

.editarButton {
    --background:#b1ff49;
    color: #001c4e;
    font-weight: bold; 
    border-radius: 50px;
}