<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" size="x-small">
      <ion-back-button color="light" defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
    
<ion-content>
  <br><br>
  <ion-grid style="margin-top: 9%;">
      <ion-row>
        <ion-col>
          <form [formGroup]="onLoginForm" > 
          <ion-item> 
            <ion-input type="tel" formControlName="userName" name="telefone" placeholder="Telefone" [brmasker]="{phone: true}">
              <ion-icon name="phone-portrait-outline" size="small" slot="start"></ion-icon>&nbsp;
            </ion-input>
          </ion-item>

          <p></p>

          <ion-item>
            <ion-input formControlName="password" [type]="tipo ? 'text' : 'password'" name="senha" placeholder="Senha">
              <ion-icon name="lock-closed-outline" size="small" slot="start"></ion-icon>&nbsp;
            </ion-input>
            <ion-icon [name]="tipo ? 'eye-outline' : 'eye-off-outline'" slot="end" size="small" (click)="mostrarSenha()" tappable></ion-icon>
          </ion-item>
        </form>
        

        <u class="senha" (click)="forgotPass()">Esqueci minha senha</u>
        <br>

        <ion-button class="botao" (click)=" toLoginHome()">
          <ion-icon name="checkmark-outline" slot="end" style="color: #001c4e;"></ion-icon>ENTRAR
        </ion-button>
        
        <br>
      </ion-col>
      </ion-row>
  </ion-grid>
  
</ion-content>