ion-toolbar {
    --background: #001c4e;
}

ion-title {
    color: #fff;
}

ion-item {
    border: 1px solid lightgray;
    border-radius: 50px;
    --highlight-height: 0px;
    /*--highlight-color-focused: var(--ion-color-primary, #001c4e);
    --highlight-color-valid: var(--ion-color-success, #2dd36f);
    --highlight-color-invalid: var(--ion-color-danger, #eb445a);*/
}

ion-icon {
    color: gray;
}

ion-content {
    padding: 0px;
}

ion-grid {
    margin: auto;
    display: block; 
    width: fit-content;
    border: 1px solid;
    border-left: none;
    border-right: none;
    padding: 0px;
}

.senha {
    text-align: right;
    font-size: small;
    display: block;
    margin: auto;
    margin-right: 35px;
}

.gridCol1 {
    text-align: center;
    padding: 50px;
    font-size: .9em;
    text-decoration: underline;
    //border-left: none;
    //border-right: none;
}


ion-button {
    --background: #b1ff49; //#001c4e;
    --color: #001c4e;//white;
    display: block;
    width: 80%;
    height: 48px;
    margin: auto;
    --border-radius: 50px;
    --background-activated: #001c4e;
    --color-activated: white;
    --background-hover: #001c4e;
    --color-hover: white;
}

ion-card {
    background-color: aliceblue; 
    width: fit-content 350px; 
    display: block; 
    //padding: 40px;
    margin: 15%; 
    margin-top: 12%;
    box-shadow: none; 
    border: 1px dashed #001c4e;
}

form {
    padding: 25px;
}

.logoLogin img {
    margin: 30px auto;
    display: block;
    width: 20%;
    background: #001c4e;
    padding: 10px;
}

input {
    width: 95%;
    border-radius: 50px;
    display: block;
    margin: auto;
    height: 40px;
    text-align: start;
    padding-left: 10px;
    border: #001c4e 0.5px solid;
}

.linkEsqueciSenha a {
    color: #001c4e;//white;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    text-align: center;
    margin-top: 10px;
}