<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" size="x-small">
      <ion-back-button color="light" defaultHref="login-home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-title>Corridas Diárias</ion-title><br>
  <ion-grid>
    <ion-row>
      <ion-col style="border-right: 1px solid; border-bottom: 1px solid;">Corridas canceladas pelos passageiros</ion-col>
      <ion-col style="text-align: center; border-bottom: 1px solid;">{{canceladoPassageiro}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="border-right: 1px solid; border-bottom: 1px solid;">Corridas canceladas pelos motoristas</ion-col>
      <ion-col style="text-align: center; border-bottom: 1px solid;">{{canceladoMotorista}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="border-right: 1px solid;">Corridas finalizadas</ion-col>
      <ion-col style="text-align: center;">{{finalizadas}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
