ion-card, img {
    border-radius: 5%;
    border: #001c4e 0.5px solid;
}

ion-toolbar {
    --background: #001c4e;
} 

ion-grid {
    margin: auto; 
    display: block; 
    width: 90%;
    border: 1px solid;
    border-left: none;
    border-right: none;
}

ion-title {
    text-align: center; 
    color: #001c4e;
    font-size: 1.5em;
    display: block;
}