/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.list-form {
    padding: 0;
    margin-bottom: 0;

    ion-item {
      --highlight-color-invalid: danger; //TA AQUI
      --highlight-color-valid: success; //TA AQUI
      background: none;
      padding: 0;

      &:first-child {
        border-top: none;
      }

      &:after {
        display: none;
      }

      ion-label {
        font-size: 1em;
        color: var(--ion-color-medium);
      }

      input {
        color: var(--ion-color-medium);
            .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
                color: black; //label color when focusing
        }
        .item-input .label-md{
                color: black; //label color
        }
      }
    }
}

.botao {
  --background: #b1ff49;  //#001c4e;
  --color: #001c4e; //white;
  font-weight: bold;
  display: block;
  height: 48px;
  width: 95%;
  margin: auto;
  --border-radius: 50px;
  --background-activated: #001c4e;
  --color-activated: #001c4e;
  --background-hover: #b1ff49;
  --color-hover:  #001c4e;
  --box-shadow: 0 0 0 0; 
  outline: 0;
}