#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.vemai {
 // background: url(../../assets/img/bg-vem-ai.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
  text-align: center;
}
.imgSmart {
  margin: 0 auto;
  bottom: 0px;
  position: relative;
  width: 30em;
}

.areaSmartphone {
  position: fixed;
  bottom: -5px;
  width: 100%;
}

.vemai div:first-child h3 {
  display: inline;
  padding: 7px 15px;
  margin-left: 8px;
  background: #123b7d;
  color: white;
  border-radius: 30px;
}
.vemai div:first-child h3 ion-icon {
  color: white;
}

.vemai .topo .imgTopo {
  margin-top: 40px;
}

.topoInternas {
  background: url(../../assets/img/bg-barra-topo.png) repeat-x;
  min-height: 58px;
}

body {
  background: url(../../assets/img/bg.jpg);
  background-size: cover;
}

ion-toolbar {
  --background: #001c4e;
}