<head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <link as="style" href="/bootstrap.min.css" rel="preload">
</head>
<body>
  <div class="topoInternas">
        <div class="row">
                <nav class="navbar menuPrincipal">
                    <div class="container-fluid">
                        <div style="float: left">
                            <div class="baseLogo" style="padding: 0px;">
                                <a class="logo" href="https://www.uaileva.com.br">
                                    <img alt="Uai Leva" class="img-responsive" src="../../assets/img/logo-uaileva-mini.png">
                                </a>
                            </div>
                        </div>
                        <div style="margin-left: -10px;">
                            <ul class="nav navbar-nav menuTopo">
                                <!--<li (click) = "toMotoristas();">-->
                                    <a (click)="toMotoristas();" tappable>NOSSOS MOTORISTAS</a>
                                &nbsp;
                                <!--<li (click) = "toLogin();">-->
                                    <a (click) = "toLogin();" tappable>ACESSO RESTRITO</a>
                                
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </nav>
        </div>
</div>


<div class="clearfix"></div>

<div class="container" style="display: block; margin: auto; text-align: center;">
  <div class="col-lg-12">
      <img alt="Uai Leva" class="img-responsive logoUaiLeva" src="../../assets/img/logo-uaileva.png">
  </div>

  <div class="col-lg-12 chamadaDownload">    
      <b>BAIXE AGORA MESMO</b>
  </div>


  <div class="col-lg-12 botoesDownload">
      <a class="btnDownloadAPP" (click) = "download()">BAIXAR APLICATIVO</a>

      <!--<div class="ou">ou</div>

      <a class="btnVersaoWeb" href="https://passageiro.uaileva.com.br/">ACESSO RÁPIDO</a>-->
  </div>

</div>

<br><br>
<div class="footer" id="rodape">

  <div class="direitos">
      <div class="container">
          UAI LEVA - 2021 / TODOS OS DIREITOS RESERVADOS
      </div>
  </div>
</div>
</body>