@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:500,500i,700,700i&display=swap');

@media only screen and (max-width:640px) {
    div.topoHome {
        min-height: auto;
    }

    div.baseLogo {
        width: 40px;
        height: auto;
        margin-top: 0px;
        float: left;
    }

    div.baseLogo a {
        margin-top: 0px;
    }

    ul.menuTopo {
        margin-left: 0px;
        margin-top: 35px;
        margin-right: 0px;
    }

    ul.menuTopo li {
        float: left;
    }

    a {
        color: white;
        text-decoration: underline;
        font-size: small;
    }

    nav.menuPrincipal button.navbar-toggle {
        cursor: pointer;
        margin-top: 35px;
        margin-right: 0px;
    }

    .menuPrincipal ul.menuTopo li a {
        border-radius: 0 !important;
    }

    div.buscaTopo {
        margin-top: 0;
    }

    .boxCurso {
        margin-top: 30px;
    }

    .linksBoxCursos h3 {
        font-weight: bold;
        text-align: center;
    }

    .linksBoxCursos p {
        text-align: center;
    }

    .vantagensHome a.btn {
        margin-bottom: 40px;
    }

    .footer .links ul {
        padding-left: 0;
        margin-top: 0;
    }

    .endereco {
        text-align: left !important;
        margin-bottom: 30px;
    }

    div.areaSlider {
        margin-top: 100px;
    }

    div.fraseBuscador {
        font-size: 15px;
    }

    div.areaInputBusca {
        width: auto;
        margin-top: 0!important;
    }
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .sugestoesBusca span {
        display: block;
    }

    div.navbar-collapse {
        z-index: 777;
        position: absolute;
        background: #141029;
        left: 0;
        top: 110px;
        padding-bottom: 20px;
        width: 99vw;
    }

    a.btnSalaAula, a.btnCarrinho {
        width: auto !important;
    }

    nav.menuPrincipal {
        width: calc(100% - 30px) !important;
    }

    a.btnSalaAula, a.btnCarrinho {
        width: 100% !important;
        margin-bottom: 10px;
    }

    a.btnEspecializacoes {
        font-size: 24px !important;
        width: 100%;
        display: block;
    }

    p.descricaoAreaEsp {
        margin-top: 0;
        margin-bottom: 30px;
    }

    div.abasAutenticacao .ui-tabs .ui-tabs-nav a.ui-tabs-anchor {
        width: 130px;
        display: block;
        font-size: 14px;
        white-space: normal;
    }

    div.abasAutenticacao li {
        width: 49% !important;
        white-space: normal!important;
    }

    div.abasAutenticacao h2 {
        font-size: 19px;
    }

    div.abasAutenticacao a.btn-warning {
        width: 100%;
        white-space: normal;
    }

    div.footer p {
       margin-bottom: 40px;
    }

    a.btnComprarMobile {
        background: rgba(108,168,43,1);
        background: -moz-linear-gradient(top, rgba(108,168,43,1) 0%, rgba(84,146,18,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(108,168,43,1)), color-stop(100%, rgba(84,146,18,1)));
        background: -webkit-linear-gradient(top, rgba(108,168,43,1) 0%, rgba(84,146,18,1) 100%);
        background: -o-linear-gradient(top, rgba(108,168,43,1) 0%, rgba(84,146,18,1) 100%);
        background: -ms-linear-gradient(top, rgba(108,168,43,1) 0%, rgba(84,146,18,1) 100%);
        background: linear-gradient(to bottom, rgba(108,168,43,1) 0%, rgba(84,146,18,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ca82b', endColorstr='#549212', GradientType=0 );
        color: white;
        text-align: center;
        font-weight: bold;
        width: 100%;
        display: block;
        height: 50px;
        line-height: 50px;
        text-transform: uppercase;
        font-size: 18px;
        text-decoration: none;
        position: relative;
    }

    div.areaComprarCurso {
        position: relative;
        z-index: 1;
        max-width: 100%;
    }

    div.videoApresentacao iframe {
        width: 100%;
    }
    
        
    div.footer {
        margin-top: 40px;
    }
    
    div.cursos-hardware-Home {
        margin-bottom: 0;
    }
    
    .avisoNaoEncontradoBusca {
        text-align: justify;
    }

    div.listaCursos {
        margin-top: 0;
    }

    

}


@media only screen and (min-width:645px) {
    .interna .col-lg-9 a.btnComprar {display: none !important;}
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

* {
    font-family: 'Bai Jamjuree', sans-serif;
}

body {
    background: url(../../assets/img/bg.jpg);
    background-size: cover;
}

h1 {
    font-weight: bold !important;
    font-size: 32px;
    color: #0c4a24;
    letter-spacing: -1px;
}

b,i {
    color: #0c4a24;
}
nav.menuPrincipal {
    margin-top: -2px;
    min-height: 115px;
    position: absolute;
    width: 100%;
}

/*.baseLogo {
    width: 340px;
}*/

.logo img {
    max-width: 240px;
}

nav.menuPrincipal {
    margin-top: -2px;
    min-height: 115px;
    position: absolute;
    width: 100%;
}

.menuPrincipal a {
    text-transform: uppercase;
    font-weight: bold;
    color: #ae3e5c;
}

ul.menuTopo {
    margin-top: 20px;
    border-radius: 8px;
    margin-left: 40px;
}


.menuTopo li:last-child {
    background: none;
}

.menuPrincipal .menuTopo a {
    font-weight: bold;
    color: #ffffff;
    padding: -1px 10px 0px 10px;
    font-size: 11.7px;
    text-decoration: underline;
}

.menuPrincipal .menuTopo a:hover {
    color: #fff;
    background: transparent;
}

.menuPrincipal .menuTopo li:first-child a {
    border-radius: 25px 0 0 25px;
}

.menuPrincipal .menuTopo li:last-child a {
    border-radius: 0 25px 25px 0;
    border:none;
}



.topoInternas {
    background: url(../../assets/img/bg-barra-topo.png) repeat-x;
    min-height: 58px;
}

.baseLogo svg {
    width: 100%;
    height: auto;
}

.buscaTopo {
    margin-top: 30px;
}

.topoHome .carousel-control.left, .topoHome .carousel-control.right {
    background:none !important;
}

.topoHome .carousel-inner .item img {
    margin: 0 auto;
}

.tituloBlocoHome {
    font-weight: bold;
    font-size: 23px;
}

.areaSlider {
    margin-top: 100px;
}


.buscadorHome .btn {
    background: #ffcd73;
    text-transform: uppercase;
    padding: 7px 10px 10px 20px;
    font-weight: bold;
    color: #92733b;
    font-size: 14px;
    border-bottom: solid 1px #ffe8be;
}

.fraseBuscador {
    color: #b7002b;
}

.menuPrincipal .navbar-toggle {
    background-color: #ffeb00;
    cursor: pointer;
}

.menuPrincipal .navbar-toggle .icon-bar {
    background: #9c0025;
}

.boxMontaPos {
    background: white;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 2px 0px #e8e8e8;
}

.listaCursos {
    margin-top: 30px;
    clear: both;
}

.infoBoxCurso {
    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 0 #efefef;
}

.infoBoxCurso p {
    text-align: center;
    font-size: 12px;
    letter-spacing: -0.4px;
}

.infoBoxCurso img {
    border-radius: 8px 8px 0 0;
}

.linksBoxCursos {
    padding: 10px;
    margin-bottom: 20px;
}

a.linkVerCurso {
    display: block;
    background: #2256a8;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}

a.linkVerCurso:hover {
    color: #b9d4ff;
    text-decoration: none;
}

.footer {
    padding: 0;
    color: white;

    background-color: #ffc800;
    margin-top: 150px;
}

.direitos {
    background: #002f18;
    padding: 5px;
    margin-top: 10px;
}

.direitos .container {
    font-family: Arial !important;
    font-size: 10px;
    text-align: center;
    padding: 10px;
   
}

.footer .links li {
    list-style: none;
    font-size: 11px;
}

.footer .links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer .endereco {
    font-size: 12px;
}

.logoRodape img  {
    background: #fff;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

.linksBoxCursos h3 {
    font-weight: bold;
}

.imgBoxCurso {
    margin: 0 auto;
}

.listaCursos {
    margin-bottom: 40px;
}

.areaSlider .carousel-indicators {
    display: none;
}

.botoesTopo {
    float: right;
    margin-top: 10px;
}

.buscadorHome {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
    clear: both;
}

.inputBusca {
    display: block;
    width: calc(100% - 80px);
    border-radius: 3px;
    border: solid #d7d7d7 1px;
    outline: none;
    float: left;
    height: 60px;
    color: #b6012c;
    padding: 10px;
}


.areaInputBusca button.botaoBusca {
    background: #b6012c;
    border-radius: 2px;
    padding: 15px 18px 18px 18px;
    float: right;
    width: 60px;
    height: 60px;
    border: none;
}

.botaoBusca path {
    fill: #e7abba !important;
}

.areaInputBusca svg {
    height: auto;
}

.footer h3 {
    font-size: 20px;
}

.footer h3 b {
    color: #141029;
    font-size: 17px;
}

.footer p {
    font-size: 10px;
    margin-bottom: 20px;
    color: #333333;
    text-align: justify;
    text-transform: uppercase;
}

.sugestoesBusca {
    font-size: 14px;
    letter-spacing: 0;
    padding-top: 10px;
    clear: both;
    display: block;
}

.sugestoesBusca a {
    background: #fff281;
    padding: 4px 9px;
    border-radius: 2px;
    font-size: 11px;
    text-transform: uppercase;
}

.fraseBuscador {
    color: #141029;
}

.fraseBuscador i {
    color: #141029 !important;
}

.sugestoesBusca span {
    color: #565656;
}

.sugestoesBusca a {
    background: #c1d585;
    padding: 4px 9px;
    border-radius: 2px;
    font-size: 11px;
    color: #35430a;
}

.areaEspecializacoes {
    color: #141029;
    text-align: center;
}

a.btnEspecializacoes {
    border-radius: 3px;
    border: solid 3px #141029;
    padding: 20px;
    font-size: 26px;
    text-transform: uppercase;
    color:#141029;
    text-decoration: none;
    font-weight: bold;
}

.areaEspecializacoes {
    color: #141029;
    text-align: center;
    margin-bottom: 70px;
}

.areaEspecializacoes h2 {
    margin-top: 40px;
    margin-bottom: 60px;
}

.descricaoAreaEsp {
    font-size: 13px;
    color: #1d1e1f;
    clear: both;
    text-transform: uppercase;
    margin-top: 50px;
    text-align: justify;
}

.cursos-front-end-Home {
    background: #9a1d2f;
}

.cursos-back-end-Home {
    background: #1a9a4a;
}

.cursos-hardware-Home {
    background: #172533;
    margin-bottom: 120px;
}

.boxEspecializacaoHome {
    color: #fff;
}

.boxEspecializacaoHome h3 {
    text-transform: uppercase;
}

.btnVerTodosFront {
    padding: 10px 30px;
    background: white;
    color: #8a062f;
    border-radius: 80px;
    margin-top: 40px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.descricaoBlocoEsp {
    margin:40px 0;
    text-align: justify;
}

.linksBoxCursos h3 {
    text-align: center;
    font-weight: bold;
    color: #474747;
    font-size: 16px;
    text-transform: uppercase;
    min-height: 50px;
}

.precoCursoBox {
    text-align: center;
    font-size: 24px;
    color: #2256a8;
    font-weight: bold;
    margin-bottom: 20px;
}

.naoHaCursos a {
    background: #2886b6;
    color: white;
    padding: 10px;
    border-radius: 40px;
    display: block;
    width: 100%;
    max-width: 260px;
    text-align: center;
    line-height: 17px;
    margin-top: 10px;
}

.infoBoxCurso a:first-child {
    overflow: hidden;
    display: block;
}

.interna .buscadorHome {
    margin-top: 0;
}

div.ui-widget.ui-widget-content {
    border: none;
    background: #f6f6f6;
}

.login .btn-primary, .cadastro .btn-primary {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

span.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 9px;
    font-size: 11px;
    font-weight: 100 !important;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #670019;
    border-radius: 10px;
    margin-top: -4px;
    font-family: arial;
}

li.ui-tabs-active a span{
    color: white;
    outline: none;
}

a.ui-tabs-anchor span{
    color: #002cb5;
    text-decoration: none;
}

.abasAutenticacao li.ui-state-active, .abasAutenticacao .ui-widget-content li.ui-state-active, .abasAutenticacao .ui-widget-header .ui-state-active, .abasAutenticacao a.ui-button:active, .abasAutenticacao .ui-button:active, .abasAutenticacao .ui-button.ui-state-active:hover {
    border: 1px solid #113b65;
    background: #113b65;
    font-weight: normal;
    color: #ffffff;
}

#tabs-1[aria-hidden="false"], #tabs-2[aria-hidden="false"] {
    background: #113b65;
    color: white;
}

.boxAutenticacao.cadastro label, .boxAutenticacao.login label {
    font-weight: normal;
}

div.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
    border: none;
}

.abasAutenticacao h2 {
    text-align: center;
}

.abasAutenticacao .btn-warning {
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #ffcf8a;
    color: #56380b;
    padding: 5px 20px;
    font-size: 16px;
}

.abasAutenticacao a.btn-warning:hover, .abasAutenticacao a.btn-warning:active, .abasAutenticacao a.btn-warning:focus{
    text-shadow: 0 1px 0 #ffcf8a;
    color: #56380b;
}

.abasAutenticacao a.ui-tabs-anchor {
    outline: none;
}

.redesSociais {
    background: #f7f7f7;
}


.redesSociais span.whatsapp {
    padding: 20px;
    margin-right: 10px;
    background-position: 3px 4px;
}

.redesSociais span.endereco {
    padding: 20px;
    margin-right: 10px;
    background-position: 3px -116px;
}

.redesSociais span.atendimento {
    padding: 20px;
    margin-right: 10px;
    background-position: 3px -244px;
}


.redesSociais p, .redesSociais p b{
    color: #141029;
    font-size: 14px;
}

.modalLogin .modal-content {
    background-size: cover;
    background-color: #fffdf0;
}

.modalLogin .modal-header {
    border-bottom: none;
}

.modalLogin .modal-title {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

.modalLogin .modal-title {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #a90029;
}

.modalLogin .modal-footer {
    border-top: none;
}

.modalLogin .modal-footer button{
    width: 100%;
    padding: 10px 10px;
    border: none;
    background: #172e65;
}

.modalLogin .modal-body {
    position: relative;
    padding: 0 15px;
}

.modalLogin button.close {
    opacity: 1;
}

.valorCurso {
    background: #dadada;
}

.areaComprarCurso a.btnComprar {
    background: rgba(108,168,43,1);
    background: -moz-linear-gradient(top, rgba(108,168,43,1) 0%, rgba(84,146,18,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(108,168,43,1)), color-stop(100%, rgba(84,146,18,1)));
    background: -webkit-linear-gradient(top, rgba(108,168,43,1) 0%, rgba(84,146,18,1) 100%);
    background: -o-linear-gradient(top, rgba(108,168,43,1) 0%, rgba(84,146,18,1) 100%);
    background: -ms-linear-gradient(top, rgba(108,168,43,1) 0%, rgba(84,146,18,1) 100%);
    background: linear-gradient(to bottom, rgba(108,168,43,1) 0%, rgba(84,146,18,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ca82b', endColorstr='#549212', GradientType=0 );
    color: white;
    text-align: center;
    font-weight: bold;
    width: 100%;
    display: block;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}



.areaComprarCurso ul {
    margin-bottom: 0;
}

.valorCurso {
    text-align: center;
}

.valorCurso b {
    text-align: center;
    display: block;
    font-size: 28px;
}

.valorCurso i {
    font-size: 18px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
}

.areaComprarCurso {
    position: fixed;
    z-index: 1000;
    max-width: 260px;
}

.btnComprar:hover span {
    padding-right: 25px;
}

.btnComprar span {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -30px;
    transition: 0.5s;
}

.btnComprar:hover span {
    opacity: 1;
    left: 15px;
}

.btnComprar:focus span {
    opacity: 0;
    left: 200px;
}

.interna .cursos-front-end-Home {
    background-color: transparent;
}

.interna .cursos-front-end-Home h2 {
    color: #9a1d2f;
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 36px;
}



.cargaHorariaCurso svg {
    fill: #0077c7;
}

.interna .h1,.interna  h1 {
    font-size: 36px;
    font-weight: bold;
    color: #9a1d2f;
    letter-spacing: -1px;
}

a.btnComprar svg {
    width: 24px;
    height: 24px;
    margin-top: 10px;
}

.cargaHorariaCurso svg {
    width: 50px;
    fill: #0077c3;
    margin-top: 5px;
}

.valorCH {
    padding-top: 16px;
    float: left;
}

.cargaHorariaCurso, .cargaHorariaCurso b {
    color: #0077c3;
}

li.dropdown ul.dropdown-menu li {
    background: #fff;
}

li.dropdown ul.dropdown-menu li a {
    color: #8a062f;
    text-shadow: none !important;
}

li.dropdown ul.dropdown-menu li a:hover {
    color: #690423;
}

li.dropdown.open li:hover {
    background: #e8e8e8;
}

.menuPrincipal .menuTopo li a:focus, .menuPrincipal .menuTopo li a:active {
    background-color: transparent !important;
}

ul.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #141029 !important;
    border-radius: 25px !important;
    margin-bottom: 10px;
}

.linhaProdutosFinaliza {
    background: #eaeaea;
    padding: 10px;
    border-radius: 4px;
}

.listaProdutosFinaliza .linhaProdutosFinaliza:first-child {
    border-top: none;
}

.listaProdutosFinaliza .linhaProdutosFinaliza {
    border-top: solid 2px #fff;
}

.listaProdutosFinaliza .linhaTotal {
    font-size: 26px;
    letter-spacing: -1px;
}

a.pagarAgora {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: bold;
    line-height: 40px;
    width: 260px;
}

a.pagarAgora span {
    line-height: 31px;
    font-size: 19px;
    padding-right: 10px;
}


.btnComprarMobile {
    display: none;
}

a.btnComprarMobile:hover {
    text-decoration: none;
    color: white;
}

div.areaComprarCurso .imgCurso {
    text-align: center;
    background: #ececec;
}

div.areaComprarCurso .imgCurso img {
    display: initial;
}

.infraestruturaCursos {
    font-weight: bold;
    font-size: 16px;
    color: #c34f48;
}

.infraestruturaCursos img {
    width: 58px;
    margin-right: 14px;
}
 li {
    float: left;
    list-style: none;
 }
.fazerAvaliacao {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

.precoCursoBox b {
    font-size: 11px;
    text-transform: uppercase;
    color: #2256a8;
}

.btnInscricaoGratis {
    background: red;
    padding: 12px 21px;
    color: white;
    border-radius: 5px;
}

.conteudo100 {
    min-height: 49vh;
}

.logoUaiLeva {
    /*max-width: 700px;*/
    margin: 60px auto;
}

.chamadaDownload {
    color: #9eba3d;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.chamadaDownload b {
    color: #9eba3d;
    font-size: 30px;
}

.btnDownloadAPP {
    width: 320px;
    height: 75px;
    background: #9eba3d;
    border-radius: 8px;
    text-align: center;
    font-size: 24px;
    color: #0c1834 !important;
    display: block;
    line-height: 70px;
    font-weight: bold;
    margin: 30px auto;
    text-decoration: none;
}

.botoesDownload {
    text-align: center;
}

.ou {
    color: white;
    font-size: 14px;
}

a.btnVersaoWeb {
    height: 65px;
    width: 240px;
    display: block;
    margin: 20px auto;
    border: solid 5px #9eba3d;
    color: #9eba3d !important;
    font-weight: bold;
    line-height: 55px;
    border-radius: 8px;
    text-decoration: none;
}

ul.menuTopo {
    margin-top: 20px;
    border-radius: 8px;
    margin-left: 40px;
}
